.vscode
venv
**__pycache__
Lab 1/Жмуренко В.К/First_Lab/First_Lab.vcxproj.user
Lab 1/Жмуренко В.К/First_Lab/First_Lab.vcxproj.filters
Lab 1/Жмуренко В.К/First_Lab/Debug/vc142.idb
Lab 1/Жмуренко В.К/First_Lab/Debug/First_Lab.vcxproj.FileListAbsolute.txt
Lab 1/Жмуренко В.К/First_Lab/Debug/First_Lab.tlog/link.command.1.tlog
Lab 1/Жмуренко В.К/First_Lab/Debug/First_Lab.tlog/First_Lab.lastbuildstate
Lab 1/Жмуренко В.К/First_Lab/Debug/First_Lab.tlog/CL.write.1.tlog
Lab 1/Жмуренко В.К/First_Lab/Debug/First_Lab.tlog/CL.read.1.tlog
Lab 1/Жмуренко В.К/First_Lab/Debug/First_Lab.tlog/link.write.1.tlog
Lab 1/Жмуренко В.К/First_Lab/Debug/First_Lab.tlog/CL.command.1.tlog
Lab 1/Жмуренко В.К/First_Lab/Debug/First_Lab.log
Lab 1/Жмуренко В.К/First_Lab/Debug/First_Lab.tlog/link.read.1.tlog
Lab 1/Жмуренко В.К/First_Lab/Debug/First_Lab.exe.recipe
Lab 1/Жмуренко В.К/First_Lab/.vs/First_Lab/v16/ipch/AutoPCH/ca2aca55524bb8d6/LISTFUNCTIONS.ipch
Lab 1/Жмуренко В.К/First_Lab/.vs/First_Lab/v16/ipch/AutoPCH/7e2d91ae2e9d06c8/TASKFUNCTIONS.ipch
Lab 1/Жмуренко В.К/First_Lab/.vs/First_Lab/v16/ipch/AutoPCH/9271d66ae1963695/MAIN.ipch
Lab 1/Жмуренко В.К/First_Lab/.vs/First_Lab/v16/ipch/AutoPCH/5faf293051f2c8e9/STACKFUNCTIONS.ipch
Lab 1/Жмуренко В.К/First_Lab/.vs/First_Lab/v16/ipch/AutoPCH/14003504275e1811/SOURCE.ipch
Lab 1/Жмуренко В.К/First_Lab/.vs/First_Lab/v16/Browse.VC.db
Lab 1/Жмуренко В.К/First_Lab/.vs/First_Lab/v16/.suo
Lab 1/Жмуренко В.К/First_Lab/.vs/First_Lab/v16/ipch/AutoPCH/7a5b253ae79462b3/LISTFUNCTIONS.ipch
Lab 1/Жмуренко В.К/First_Lab/Debug/First_Lab.exe
Lab 1/Жмуренко В.К/First_Lab/Debug/First_Lab.ilk
Lab 1/Жмуренко В.К/First_Lab/Debug/main.obj
Lab 1/Жмуренко В.К/First_Lab/Debug/ListFunctions.obj
Lab 1/Жмуренко В.К/First_Lab/Debug/stackFunctions.obj
Lab 1/Жмуренко В.К/First_Lab/Debug/First_Lab.pdb
Lab 1/Жмуренко В.К/First_Lab/Debug/taskfunctions.obj.enc
Lab 1/Жмуренко В.К/First_Lab/Debug/taskFunctions.obj
Lab 1/Жмуренко В.К/First_Lab/Debug/vc142.pdb
Lab 1/Жмуренко В.К/First_Lab/First_Lab.vcxproj
Lab 1/Жмуренко В.К/First_Lab/First_Lab.sln
